{{!-- <img src="./public/assets/img/burger.png"> --}}
<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
{{/unless}}
{{/each}}
    {{!-- <li>
        <p>Type: {{burger_name}}</p>
        <p>Devoured: {{devoured}}</p>
    </li>
    {{/each}} --}}
</ul>

<h1>Add a Burger</h1>
<form id="addBurger">
<textarea rows="4" cols="50" name="addBurger" id="newBurger">
    Enter a burger you'd like to eat.
</textarea>
<input type="submit" id="submit">
</form>
<p>Enter a burger you want to eat and click the "Submit" button.</p>


{{!-- find the JS file for this --}}
{{!-- <script type="text.javascript"></script>
    $("#submit").on("click", function (event) {
        console.log("Submit button hits");
        event.preventDefault();
        //INSERT FUNCTIONALITY
    })
</script> --}}